    body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        header {
            background-color: #2a2b2f; /* Updated to match logo color */
            color: white;
            padding: 20px;
        }
        header img {
            max-width: 110px;
            height: auto;
            display: block;
            margin: 0 auto 10px;
        }
        section {
            padding: 20px;
        }
        .contact {
            background-color: #ddd;
            padding: 20px;
        }
        .pricing {
            background-color: #ffffff;
            padding: 20px;
        }
        .pricing ul {
            list-style: none;
            padding: 0;
        }
        .pricing li {
            padding: 5px 0;
        }
        .gallery {
            background-color: #ffffff;
            padding: 20px;
        }
        .gallery img {
            width: 150px;
            height: auto;
            margin: 10px;
            border-radius: 5px;
        }
        .business-hours {
            background-color: #ffffff;
            padding: 5px;
        }
        .business-hours ul {
            list-style: none;
            padding: 0;
        }
